:root {
  --popupImg: linear-gradient(to right, white, white);
}

body{
    font-size: 14px;
    font-family: 'Advent Pro';
}

#main{
    background-image: url("img/space.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, red, black);
    width: 1000px;
    margin: auto;
    vertical-align: baseline;
}

h1{
  font-size:74px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

p {
    text-align: center;
    line-height: 30px;
    color: white;
}

#popup-element {
 position: relative;
  height: 30px;
  width: 300px;
  border-radius: 6px;  
  background: black;
  text-align: right;
  vertical-align: middle;
  }

#popup-element:before{
  position: absolute;
  content: "";
  width: 54px;
  height: 53px;
  top: -13px;  
  left: -25px;
  background-image: linear-gradient(to right, rgb(125, 69, 209), black);
  border-radius: 50%;
}

#popup-element:after{
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  top: -9px;  
  left: -21px;
  background-image: var(--popupImg);
  border-radius: 50%;
}
