body{
    font-size: 3px;
}

#main{
    background-image: url("img/space.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: red;
    width: 1000px;
}


